h2.header{
  font-family: fantasy;
  color: purple;
  font-style: italic;
  text-align: center;
}
p.intro{
  font-size: 25px;
  color: lightblue;
}
img{
display: block;
margin: auto;
 height: 400px;
 width: auto;
}
div.fancy {
  font-family: 'Charm', cursive;
  color: red;
}
span.boring {
  font-family: 'Inconsolata', monospace;
  color: grey;
}

.intro {
  border: 2px solid green;
}

.intro .highlight{
  background-color: yellow;
  background-image: linear-gradient(to right, #ffe359 0%,#fff2ac 100%);
}

#stuff {
  font-size: 25px;
  color: lightblue;
}
